body {
    background-image: url("../pictures/130355.jpg");
}

a {
    color: rgb(201, 247, 0);
    text-align: center;
}

#h {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 10px rgb(85, 18, 18);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.in {
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
}

.btn:hover {
    background-color: #750000;
    color: azure;
}

.form {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    width: 250px;
    margin-left: 780px;
}

.ft {
    vertical-align: bottom;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 10px rgb(85, 18, 18);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn {
    background-color: blue;
}